/* Concept row images */
.image-row {
  display: flex;
  flex-wrap: nowrap;
  column-gap: var(--space-1);

  margin: var(--space-2) 0;
  justify-content: flex-start;
  align-items: center;
  /* height: 220px; */
  /* height: auto; */
  width: 100%;
  /* overflow-x: hidden; */
  padding: 0;
}

.image-row img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  flex: 1 1 0;
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sml);
  padding: 0;
}

/*
we need to offset the gaps between the images 

*/
.image-row--2 img {
  max-width: calc(50% - (var(--space-1) / 2));
}

.image-row--3 img {
  max-width: calc(33.3333% - (var(--space-1) * 2 / 3));
}

.image-row--4 img {
  max-width: calc(25% - (var(--space-1) * 3 / 4));
}

.image-row--5 img {
  max-width: calc(20% - (var(--space-1) * 4 / 5));
}

.image-row--6 img {
  max-width: 16.6667%;
}
/* Full-bleed section that breaks out of the content width */

.image-row--full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: var(--space-10);
}

/* .image-row--full-bleed img {
  max-width: 100%;
  height: auto;
  object-fit: contain;

  width: 100%;
  height: auto;
  margin: var(--space-2) 0;
} */

@media (max-width: 900px) {
  .image-row--full-bleed {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 900px) {
  .full-bleed--scroll {
    max-width: 100%;
    overflow-x: auto;
  }

  .full-bleed--scroll .full-width-image {
    min-width: 240vw;
  }
}

@media screen and (max-width: 899px) {
  .process-image img {
    display: none;
  }
}

.process-image img {
  border-radius: var(--space-2);
  border: 1px solid white;
}

.image-row--desaturated img {
  filter: saturate(0); /* 0 = grayscale */
}

.image-row--desaturated img:hover {
  filter: saturate(0.5); /* 0 = grayscale */
}

.image-row--caption {
  margin: var(--space-1) auto var(--space-8);
  padding: 0 var(--space-2);
  font-size: var(--text-sm);
  font-weight: bold;
  max-width: 860px;
}

@media (min-width: 900px) {
  .image-row--caption {
    font-size: var(--text-md);
  }
}

@media (max-width: 900px) {
  .image-row {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--space-2);
    padding: 0 var(--space-2) var(--space-2);
    -webkit-overflow-scrolling: touch;
    padding-bottom: var(--space-2);
  }

  .image-row img {
    scroll-snap-align: start;
  }
}
