---
import "../styles/global.css";

const { title = "brtdesign" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJVMW525PJ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NJVMW525PJ");
    </script>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio of work from Ben Taylor." />
    <title>{title}</title>
    <style is:inline>
      html {
        visibility: hidden;
      }
    </style>

    <script is:inline>
      (function () {
        const KEY = "auth_ok_v1";
        const token = sessionStorage.getItem(KEY);
        const isAuthed = !!token && token.length > 20;

        if (isAuthed) {
          document.documentElement.style.visibility = "visible";
          return;
        }

        const next = encodeURIComponent(
          location.pathname + location.search + location.hash,
        );

        location.replace("/?next=" + next);
      })();
    </script>
  </head>
  <body>
    <header class="nav">
      <div class="nav-inner">
        <a href="/home" class="logo"
          >brtdesign<span style="opacity:0.5">.co.uk</span></a
        >
        <nav class="nav-links">
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <footer class="footer">
      <ul>
        <li>Ben Taylor — UX designer</li>
        <!-- <p>Based in London</p>
          <p>Open to senior product roles</p> -->
        <li>
          <a href="mailto:ben@brtdesign.co.uk">ben@brtdesign.co.uk</a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/brtdesign/"
            target="_blank"
            rel="noopener">LinkedIn</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
