---
import "../styles/global.css";

const { title = "brtdesign" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio of work from Ben Taylor." />
    <title>{title}</title>
  </head>
  <body>
    <header class="nav">
      <div class="nav-inner">
        <a href="/" class="logo"
          >brtdesign<span style="opacity:0.5">.co.uk</span></a
        >
        <nav class="nav-links">
          <!-- <a href="/case-studies">Case Studies</a>
          <a href="/about">About</a> -->
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <footer class="footer">
      <ul>
        <li>Ben Taylor — UX designer</li>
        <!-- <p>Based in London</p>
          <p>Open to senior product roles</p> -->
        <li>
          <a href="mailto:ben@brtdesign.co.uk">ben@brtdesign.co.uk</a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/brtdesign/"
            target="_blank"
            rel="noopener">LinkedIn</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
